# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frost/node_modules
/.pnp
/frost/.pnp.js

# testing
/frost/coverage

# production
/frost/build

# misc
/frost/.DS_Store
/frost/.env.local
/frost/.env.development.local
/frost/.env.test.local
/frost/.env.production.local

/frost/npm-debug.log*
/frost/yarn-debug.log*
/frost/yarn-error.log*
